body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.winter-weather {
    background-image: url('../assets/images/winter-weather.png');
}

.spring-weather {
    background-image: url('../assets/images/spring-weather.png');
}

.summer-weather {
    background-image: url('../assets/images/summer-weather.jpg');
}

.fall-weather {
    background-image: url('../assets/images/fall-weather.jpg');
}

.temp-buttons {
    background-color: transparent;
}

.hot-weather {
    color: red;
}

.warm-weather {
    color: orange;
}

.cool-weather {
    color: yellow;
}

.chilly-weather {
    color: green;
}

.freezing-weather {
    color: teal;
}

footer {
    text-align: center;
    position : fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 5px 0;
    font-size: 0.9em;
    z-index: 10;
}

footer p {
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    justify-content: center;
    align-content: end; 
    padding: 3rem;
}

.temp-controls {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 1rem;
}

.temperature-box,
.sky-box,
.location-box {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

button {
    color: white;
    border: none;
    cursor: pointer;
}

.temp-buttons {
    font-size: 1.5rem;
}

.location-box button {
    background-color: bisque;
    color: black;
}

@media (max-width: 700px) {
    main {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        align-content: center;
        min-height: auto;
    }
}

label {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: block;
}