/* Temperature Display Color */
.freezingTemperature {
    color: #4caf50; /* A neutral color for temperature */
}
.coldTemperature {
    color: #ff5722; /* A warm color for temperature */
}
.comfyTemperature {
    color: #2196f3; /* A cool color for temperature */
}
.warmTemperature {
    color: #ff9800; /* An orange color for temperature */
}
.hotTemperature {
    color: #f44336; /* A red color for temperature */
}

.title-location {
    text-decoration: underline;
}

/* .locationInput { */
    /* padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 20px; */
/* } */

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.winter-weather {
    background-image: url('../assets/images/winter-weather.png');
}

.spring-weather {
    background-image: url('../assets/images/spring-weather.png');
}

.summer-weather {
    background-image: url('../assets/images/summer-weather.jpg');
}

.fall-weather {
    background-image: url('../assets/images/fall-weather.jpg');
}

.temp-buttons {
    background-color: transparent;
}

.hot-weather {
    color: red;
}

.warm-weather {
    color: orange;
}
.cool-weather {
    color: yellow;
}
.chilly-weather {    
    color: green;
}
.freezing-weather {
    color: teal;
}